[submodule "nix-config"]
	path = nix-config
	url = git@github.com:kleinbem/nix-config.git
[submodule "nix-devshells"]
	path = nix-devshells
	url = git@github.com:kleinbem/nix-devshells.git
[submodule "nix-hardware"]
	path = nix-hardware
	url = git@github.com:kleinbem/nix-hardware.git
[submodule "nix-packages"]
	path = nix-packages
	url = git@github.com:kleinbem/nix-packages.git
[submodule "nix-presets"]
	path = nix-presets
	url = git@github.com:kleinbem/nix-presets.git
[submodule "nix-secrets"]
	path = nix-secrets
	url = git@github.com:kleinbem/nix-secrets.git
[submodule "nix-templates"]
	path = nix-templates
	url = git@github.com:kleinbem/nix-templates.git
